 

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 
}

.status-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
  }

  
.entries-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}


.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    background-color: #f3f4f6;
}

.pagination {
    display: flex;
    justify-content: right;
    margin-top: 20px;
 }

.pagination button {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 8px;

}

.pagination button.active {
    background-color: #333333;
    color: #ffffff;
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.entries-select {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f3f4f6;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    background-color: #f3f4f6;
}

.dropdown-container {
    position: relative;
}

.dropdown-button, .date-filter-button, .clear-button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 3px;
    min-width: 120px; /* Ensures consistent button width */
    text-align: center;
}

.date-filter-button.active {
    background-color: #333333;
    color: #fff;
}

.date-filter-container {
    display: flex; /* Flexbox for horizontal alignment */
    gap: 1px; /* Space between the buttons */
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 15px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    width: 300px;
    max-height: 300px;
    overflow-y: auto; /* Allows scrolling if content is too long */
}

.dropdown-content.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-content label:hover {
    background-color: #f3f4f6;
    color: #333333;
}

.dropdown-content label input {
    margin-right: 10px;
}


.clear-button {
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
}

.clear-button:hover {
    background-color: #ff6666; /* Slightly lighter shade on hover */
}

 

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd; /* Garis bawah antar baris */
    border-right: 1px solid #dddddd; /* Garis pembatas antar kolom */
}

th:last-child, td:last-child {
    border-right: none; /* Hilangkan garis di kolom terakhir */
}

thead th {
    background-color: #333333; /* Background header */
    color: #ffffff; /* Warna teks header */
    text-transform: uppercase; /* Teks header dalam huruf besar */
}

tbody tr:hover {
    background-color: #f1f1f1; /* Warna background baris saat dihover */
}

tbody tr:last-child td {
    border-bottom: none; /* Hilangkan border pada baris terakhir */
}

tbody td:first-child, thead th:first-child {
    border-left: none; /* Hilangkan garis kiri pada kolom pertama */
}

tbody td:last-child, thead th:last-child {
    border-right: none; /* Hilangkan garis kanan pada kolom terakhir */
}

tr:hover {
    background-color: #f1f1f1; /* Lighter background on hover */
}

/* @media (max-width: 768px) {
    .table-header, .entries-container, .search-container, .dropdown-container, .date-filter-container {
        flex-direction: column;  
        align-items: stretch;  
    }

    .search-container input[type="text"], .entries-select, .dropdown-button, .date-filter-button, .clear-button {
        width: 100%;  
        margin-bottom: 5px;
    }

    .pagination {
        padding: 10px;
    }

    .pagination button {
        flex-grow: 1;  
        margin: 2px;
        padding: 5px 10px;
    }
} */
